
.title-bar {
  color: #444444;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
}

.title-bar__subtitle {
  font-size: 1.3rem;
  font-weight: 400;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: auto !important;
}

.title-bar__links {
  width: 20%;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
}

.title-bar__links a {
  margin-right: 10px;
}

.medium-editor {
  padding: 100px !important;
}
